<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
		th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
		  rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" media="screen" />
	<link rel="stylesheet" th:href="@{/css/style.css}"  media="screen" />
</head>
	<body>
		<div class="container">
		    <div th:fragment="footer">
		        <footer class="footer">
		            <hr/>
		            <p>&copy; 2013 The Static Templates<a href="/logout"><span class="glyphicon glyphicon-off pull-right"></span></a></p>
		        </footer>
		    </div>
		</div>
	</body>
</html>