<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Catsbase</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <div class="content">
        	<p>Catsbase</p>
	        <ul>
			  <li><a href="cats/add" class="cancel">Add Cat</a></li>
			  <li><a href="cats/show" class="cancel">Show Cats</a></li>
			</ul>
        </div>
        <p>Logged in as <span sec:authentication="name" /> with authorities: <span sec:authentication="authorities" /></p>
        <div th:if="${message} != null">
        	<span th:replace="fragments/alert :: alert (type='success', message=${message})">...</span>
        </div>
    </div>
</body>
</html>