<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Catsbase</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
    	<form class="form-signin" th:action="@{/login}" method="post">
    		<h2 class="form-signin-heading">Please sign in</h2>
    		<div th:if="${param.error}" class="alert alert-danger login-denger" role="alert" th:text="#{login.error}">Login error</div>
			<div>
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="text" name="username" id="inputEmail" class="form-control"
				placeholder="Name or email address" required="" autofocus=""></input>
				<label for="inputPassword" class="sr-only">Password</label> 
				<input type="password" name="password" id="inputPassword" class="form-control"
				placeholder="Password" required=""></input>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" value="remember-me">Remember me</input></label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">Sign in</button>
		</form>

		<!-- walidacja jak w przy dodadwaniu kotow w modelu
		czy wystarczy html? -->
	</div>
</body>
</html>

			<!-- <form th:action="@{/cats/add}" th:object="${formDto}" method="post">
					<table>
						<tbody>
							<tr>
								<th>Questions</th>
								<th>Answer</th>
							</tr>
							<tr>
								<td>name:</td>
								<td>
									<input type="text" class="form-control" th:field="*{name}" /> 
									<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</td>
							</tr>
							<tr>	
								<td colspan="2" style="text-align: center;padding: 5px"><input type="submit" value="Send form" /></td>
							</tr>
						</tbody>
					</table>
				</form> -->