<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
    	<form class="form-signin" th:action="@{/login}" method="post">
    		<h2 class="form-signin-heading">Please sign in</h2>
    		<div th:if="${param.error}" class="alert alert-danger login-denger" role="alert" th:text="#{login.error}">Login error</div>
			<div>
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="text" name="username" id="inputEmail" class="form-control"
				placeholder="Name or email address" required="" autofocus=""></input>
				<label for="inputPassword" class="sr-only">Password</label> 
				<input type="password" name="password" id="inputPassword" class="form-control"
				placeholder="Password" required=""></input>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" value="remember-me">Remember me</input></label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">Sign in</button>
			<div class="row">
	            <button id="login_lost_btn" type="button" class="btn btn-link col-md-6">Lost Password?</button>
	            <a href="/users/new" class="btn btn-link col-md-6" role="button">Register</a>
	        </div>
		</form>
		
		<div class="col-md-8 col-md-offset-2 text-center" th:if="${message} != null">
        	<span th:replace="fragments/alert :: alert (type='success', message=${message})">...</span>
        </div>

		<!-- encrypt pass with
		https://github.com/ulisesbocchio/jasypt-spring-boot-->
	</div>
</body>
</html>