<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Cat</title>
         <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
    	<div class="container">
	        <p>AddCats</p>
	        <p>Request Method -${pageContext.request.method}-</p>
			
			<div id="form">
				<form th:action="@{/cats/add}" th:object="${formDto}" method="post">
					<table>
						<tbody>
							<tr>
								<th>Questions</th>
								<th>Answer</th>
							</tr>
							<tr>
								<td>name:</td>
								<td>
									<input type="text" class="form-control" th:field="*{name}" /> 
									<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</td>
							</tr>
							<tr>
								<td>Born date:</td>
								<td>
									<input type="text" class="form-control" th:field="*{birthDate}" /> 
									<span class="help-block" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
								</td>
							</tr>	
							<tr>
								<td>Weight:</td>
								<td>
									<input type="text" class="form-control" th:field="*{weight}" /> 
									<span class="help-block" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
								</td>
							</tr>
							<tr>
								<td>Guardian name:</td>
								<td>
									<input type="text" class="form-control" th:field="*{guardianName}" /> 
									<span class="help-block" th:if="${#fields.hasErrors('guardianName')}" th:errors="*{guardianName}"></span>
								</td>
							</tr>
							<tr>	
								<td colspan="2" style="text-align: center;padding: 5px"><input type="submit" value="Send form" /></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<!-- wlasciwie nalezalo by zaczac od tego shitu, i wystylowac go zgodnie ze stylem logowania
			btw. css i js jakies oddzielne, czy wszystko do jednego wora.. -->
			<a href="/" class="cancel"><input type="button" value="Back to index!"></input></a>
			
			<!-- <div th:replace="fragments/footer :: footer"></div> -->
			<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
		</div>
	</body>
</html>