<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Show Cats</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
	    <div class="container">
	        <h4>Show Cats</h4>
		    <p>If u wont see details cat, click his name</p>
			<table>
				<tbody>
					<tr>
						<th>#</th>
						<th>Cats name</th>
						<th>toys</th>
					</tr>
					<tr th:each="cat,loop : ${cats}">
						<td th:text="${loop.index}"></td>
						<td><a href="#" th:href="@{/cats/show/}+${loop.index}" th:text="${cat.name}"></a></td>
						<td th:text="${cat.weight}"></td>
					</tr>
				</tbody>
			</table>
	
			<a href="/" class="cancel"><input type="button" value="Back!"></input></a>
			<div th:if="${catName != ''}">
				<div class="details">
					<h4>Details:</h4>
					<p>Name: <span th:text="${catName}"></span></p>
					<p>Weight: <span th:text="${catWeight}"></span></p>
					<p>Born date: <span th:text="${catBDate}"></span></p> <!-- format -->
					<p>Guardian name: <span th:text="${catGName}"></span></p>
					<h4><span th:text="${catName}"></span> toys:</h4>
					<p class="add_toy"><a href="#">add toy</a></p>
					<div class="add_toy_form hide">
						<form class="form-signin" th:action="@{/cats/toys/add}" method="post">
							<div>
								<label for="inputToyName" class="sr-only">ToyName</label>
				    			<input type="text" name="toyname" id="inputToyName" class="form-control"
				    			placeholder="Toy name" required="required" autofocus="autofocus" title="min 2, max 10 characters" 
				    			maxlength="10" pattern=".{2,10}"></input> 
								
				    			<input type="text" name="toycolor" id="inputToyColor" class="form-control"
				    			placeholder="Toy colour" required="required" title="min 2, max 10 characters, letters only"
				    			maxlength="10" pattern=".[A-Za-z]{2,10}"></input>
				    			<!-- moze tutaj jkas tabela z dostepnymi kolorami? --> 
								
								<input type="number" step="0.01" name="toyprice" id="inputToyPrice" class="form-control"
				    			placeholder="Toy price in $" required="required" title="max 10 000$, numbers only" min="0" max="10000"></input>
			    			</div>
			    			<button class="btn btn-lg btn-primary btn-block" type="submit" value="Addtoy">Add toy</button>
			    		</form>
					</div>
					<!-- th:each tylko na tabli? 
					.visually-hidden -->
					
				</div>
			</div>
			
			<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
		</div>
	</body>
</html>
