body {
    line-height: 1;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

.clear {
    clear: both;
}

/* LAYOUT GLOBAL */
body {
    font-family: 'Didact Gothic', sans-serif;

    color: #404040;
    background: #c0c0c0;
    background-color: #c0c0c0 !important;
}

a {
    cursor: pointer;
    text-decoration: none;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 300px;
	border="1";
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
	width: 150px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p {
	color: darkblue
}

.details {
	background-color: #bbbbbb;
	width: 300px;
}

.details p {
	margin: 0;
}

.details p span {
	color: black;
}

.footer {
	width: 50%;
	display: table;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.alert.login-denger {
	padding: 10px 15px;
	font-size: 16px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}